<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <title><%= content_for?(:title) ? yield(:title) : "Build Your Own Tiki-Pole" %></title>

        <%= stylesheet_link_tag    "application" %>
        <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
        <%= csrf_meta_tags %>
    </head>

    <body>
      <div id="openModal" class="modal-box">
        <%= render "devise/sessions/login" %>
      </div>
      <nav class="top-bar transparent hide-for-small-only" id="nav-menu">
        <div class="top-bar-left hide-for-small-only">
          <ul class="vertical medium-horizontal menu">
              <li>Byot</li>
          </ul>
        </div>

        <div class="top-bar-right hide-for-small-only">
          <ul id="signedInButtons"class="vertical medium-horizontal menu" style="display: none;">
            <li id="appendEmailHere"><%= link_to "#{current_user.try(:email)}, you have 0 tikipoles", "#" %></li>
            <li><%= link_to 'Sign Out', '#', id: 'signOutButton' %></li>
          </ul>
          <ul id="unauthButtons" class="vertical medium-horizontal menu">
            <li>Sign in to build TikiPole</li>
          </ul>
        </div>
      </nav>
      <div class="container">
        <div class="row">
          <%= yield %>

        </div>

      </div>
      <% if user_signed_in? %>
      <script>
      $(document).ready(function(){
        signedInNav();
      });
      </script>
      <% else %>
      <script>
      $(document).ready(function(){
        $('#openModal').fadeIn(2000);
        fadeBackground();
      });
      </script>
      <% end %>
    </body>

</html>
